@page "/"
@page "/test2"
@inject NavigationManager NavManager

<AuthorizeView>

    <Authorized>
        <div>ID = @currentValue</div>
        <h1>Hello, world!</h1>
        <p><i class="fas fa-user"></i> Hello World</p>
        Welcome to your new app.

        <SurveyPrompt Title="How is Blazor working for you?" />

        <a href="/test">TestPage</a>
        <a href="/event/1">Event 1</a>
        <a href="/event/a">Event a</a>

    </Authorized>

    <NotAuthorized>
        <About />
    </NotAuthorized>

</AuthorizeView>

@code {
    public string currentValue = null;
    protected override void OnInitialized()
    {
        NavManager.TryGetQueryString<string>("id", out currentValue);
    }
}
